*{
    transition: 0.2s;
}

body{
    font-family: 'Poppins';
}

.header{
    width: 50vw;
    height: 50vh;

    margin: auto;
    transform: translateY(40%);
    
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px 0px 5rem #9c59b650;
    border-radius: 2px;
}

.header-ctt{
    width: 50vw;
    height: 50vh;

    margin: auto;
    transform: translateY(40%);
    
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px 0px 5rem #f1c40f63;
    border-radius: 2px;
}

.header h3{
    color: #161616;
    font-weight: 600;
    font-size: 32px;
    margin-top: 6vw;
}

.header a button{
    border: none;
    background-color: #9B59B6;
    color: #fff;
    width: 100px;
    height: 40px;
    font-size: 18px;
    border-radius: 1.5px;
    box-shadow: 0px 0px 4rem #9c59b679;
    cursor: pointer;

    text-align: center;
}

.header a button:hover{
    background-color: #693d7a;
    transition: 0.5s;
}


.header-ctt a button{
    border: none;
    background-color: #F1C40F;
    color: #000;
    width: 150px;
    height: 50px;
    font-size: 18px;
    border-radius: 1.5px;
    box-shadow: 0px 0px 4rem #f1c40f71;
    cursor: pointer;

    text-align: center;
}

.header-ctt a button:hover{
    background-color: #c4a010;
    transition: 0.5s;
}